@using SimpleTextEditor.Enums
@switch (HtmlTag)
{
	case BlockTypeEnum.H1:
		<h1>
			@ChildContent
		</h1>
		break;
	case BlockTypeEnum.H2:
		<h2>
			@ChildContent
		</h2>
		break;
	case BlockTypeEnum.P:
		<p>
			@ChildContent
		</p>
		break;
}


@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public string CssClasses { get; set; } = "";
	[Parameter]
	public BlockTypeEnum HtmlTag { get; set; } = BlockTypeEnum.P;
}