.format-button-selected {
    background-color: grey;
}
.text-line {
    cursor: text;
}
.selection-highlight {
    background-color: greenyellow;
}
.text-cursor {
    display: inline-block;
    width: 1px;
    margin-left: -1px;
    height: 1.3rem;
    margin-bottom: -0.2rem;
    background-color: black;
    animation: cursor-blink 1s steps(1) infinite;
    opacity: 0;
}

.rich-text-editor-container {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    caret-color: transparent;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p {
    min-height: 2rem;
}